*{
margin: 0px;
padding: 0px;
font-family: 'Patua One', cursive;
}
body{
background-color:white;
}
#wrapper{ 
width: 1024px;
margin: 0px auto;
padding: 0px;
}
#header {
height: 100px; 
background-color: white;
}
#header1 {
height: 40%;
background-color: white;
}
#arrow{
display: block;
float: left;
}
.arrowLine
{
background-color:black;
border-bottom:0 solid transparent;
border-top:0 solid transparent;
height:30px;
width:80px;
float:left;
margin: 5px 0px 5px 10px;   
color: white;
line-height:30px;
text-align: center;
}
.triangle_left
{
border-left:20px solid black;
border-top:15px solid transparent;
border-bottom:15px solid transparent;
float:left;
margin-top: 5px;
}
#fixNav{
background-color: white;
float: right;
min-height: 40px;
}
#fixNav ul{
margin: 0;
padding: 0;
}
#fixNav > ul  :last-child{
border-right: none;
} 
#fixNav ul li{
list-style:none inside;
width: auto;
float: left;
line-height: 39px; 
padding: 0;
position: relative;
border-right: 1px solid rgb(165, 163, 163);
}
#fixNav ul li .subNav li {
border : none;
}
#fixNav ul li a{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
white-space: nowrap;
padding: 0 10px;
color:black;
font-size: 13px;
text-decoration: none;
word-spacing: 3px;
letter-spacing:1px;
}
#fixNav ul li ul {
position: absolute;
width: auto;
display: none;
background-color: white;
padding-left: 5px;
z-index: 3;
}
#fixNav ul li ul li{
display: block;
padding:0;
margin: 0;
float: none; 
}
#fixNav ul li:hover {/
background-color: rgb(223, 223, 223);
}
#fixNav ul li:hover ul{
display: block;
}
#header2{
width: 100%;
background-color:  white;
height: 60%;
}
#logo{
height: 100%;
width: 28%;
float: left;
}
.imglogo{
max-width: 50px;
margin: 3px;
display: block;
float: left;
}
p.logotext{
color:  rgb( 254,146,74);
font-weight: bold;
font-family:Courier ;
font-size: 25px;
text-transform: uppercase;
text-align: left;
letter-spacing:0px;/*khaongr cách các ky tự */
word-spacing: -6px;/*khoảng cách các từ */
margin-left: 30%; 
}
p.logotext1{
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-transform: uppercase;
font-size: 11px;
margin-left: 23%;
}
#topnav {
width: 50%;
background-color: white;
float: left;
height: 100%;
}
#topnav :first-child{
color:  rgb( 254,146,74);
font-weight: bold;
text-transform: uppercase;
}
#topnav a {
float: left;
color: Black;
text-align: center;
padding: 20px 10px;
text-decoration: none;
font-size: 15px;
font-family: Arial, Helvetica, sans-serif
}
#topnav a:hover {
background-color: #ddd;
color: rgb(36, 36, 36);
}
#topnav a.active {
background-color:  rgb( 254,146,74);
color: white;
}
.phone{
height: 100%;
width: 22%;
float:right;
}
p.text{
color:  rgb( 254,146,74);
font-size: 18px;
text-align: center;
padding-top: 7px;
letter-spacing:1px;/*khaongr cách các ky tự */
}
p.text1{
color:  rgb( 254,146,74);
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
}
#search{
height: 30px;
width: 100%;
float:left;
background: black;
}
.category{
width: 20%;
height: 100%;
background: linear-gradient(to right, rgb(224, 107, 11), rgb(207, 138, 9), rgb(240, 164, 65));
float: left;
margin-left: 10%;
box-sizing: border-box;
text-align: center;
text-transform: uppercase;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
line-height: 30px;
}
.category a{
text-decoration: none;
color: #000;
font-size: 16px;
font-weight: bold;
}
.list{
left: 10%;;
width: 30%;
height: 100%;
background: black;
float: left;
}
input[type="text"] {
width: 50%;
height: 80%;
box-sizing: border-box;
border: 1px solid black;
border-radius: 10px;
outline:none;
transition:1s ease-in-out;
background-image: url('../image/iconsearch.png');
background-size: 16px 16px;
background-position: 4px 4px; 
background-repeat: no-repeat;
padding-left:25px ;
margin:3px;
float:left;
}
input[type="text"]:focus{
width:100%; 
}
.timework{
height: 100%;
width:35%;
box-sizing: border-box; ;
float :right;
}
.timeword1  {
float: left;
color: white;
height: 100%;
width: 10%;
background-color:rgb(243, 101, 7) ;
margin-left: 5%;
line-height: 30px;
text-align: center;
}
.timeword2 {
float: left;
height: 100%;
color: red;
width: 40%;
background-color:rgb( 254,146,74) ;
}
.timeword11 {
float: left;
height: 100%;
background-color:rgb(243, 101, 7) ;
width: 10%;
margin-left: 3% ;
line-height: 30px;
text-align: center;
color: aliceblue;
}
p.texttimework {
line-height: 30px;
color: white;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img.imghead  {
width: 100%;
height: 250px ;
}
#content{
margin: 5%;
width:90%;
height:  650PX;
margin-top :10px;
float: left;
}

.hr{
background: gray;
height: 3px;
width: 100%;
border-radius: 5px;
}
.sub_hr {
background: rgb(243, 101, 7);
height: 100%;
width:7%;
border-radius: 5px;
}
.sub_hr2 {
background: rgb(243, 101, 7);
height: 100%;
width:25%;
border-radius: 5px;
}
#content1{
width: 75%;
height: 600px;
float: left;
border: brown 1px ;
display: block;
}
.content1top {
width: 100%;
height: 20px;
}
.content1topr{
float: left;
text-transform: uppercase;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.divnull{
width: 100%;
height: 5px;
}
.divnull1{
width: 100px;
height: 5px;
}
span.slide{
float: right;
padding: 0px 0px;
}
span.slide a {
font-size: 16px;
font-weight: bold;
border: black 1px solid;
padding: 0px 10px;
color: black;
background-color :white;}
.slide a:hover {
background : rgb(138, 138, 138);
}
.content1bot{
width: 100%;
height: 90%;
margin-top: 5px;
}
.flex-content {
display: flex;
color: rgb(201, 77, 19);
margin-top: 5px;
height: 400px;
text-transform: uppercase;
font-size: 15px;
}
.flex-content > div {
background-color: #e9e9e9;
margin: 10px;
height: 370px;
width:35%;
border: rgb(221, 175, 114) 1px solid;
text-align: center;
}
.flex-content img{
width: 100%;
height: 80%;
border-bottom:rgb(221, 175, 114) 1px solid;
transition: all 0.2s ease;
}
.flex-content img:hover {
transform: scale(1.2,1.2);
border:rgb(221, 175, 114) 1px solid;
}
.flex-content i{
font-size: 10px;
color: rgb(121, 121, 121);
display: inline;
clear: right;
}
.flex-content p.p1{
color: rgb(216, 114, 19);
display: inline;
margin: 5px ;

}
.flex-content p.p2{
color: rgb(122, 122, 122);
text-decoration: line-through;
display: inline;
}
img.imgcontentbot {
width:100%;
height: 30%;
}
#content2{
float: right;
width: 20%;
height: 600px;
}
.content2top{
height: 20px;
width: 100%;
}
.content2top p{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.flex-container1 {
display: flex;
flex-direction: column;
background-color: white;
width:100%;
}
.flex-container1 > div {
background-color: #d6d6d6;
width: 100%;
height: 100px;
margin: 10px;
text-align: center;
font-size: 30px;
margin-left: 0px;
border: rgb(252, 199, 157) 1px solid;
}
.flex-container1 img.imgngang{
width: 50%;
height: 100%;
border-right: rgb(252, 199, 157) 1px solid;
float: left;
transition: all 0.2s ease;
box-sizing: border-box;
}

.flex-container1 img.imgngang:hover {
transform: scale(1.2,1.2);
border:rgb(221, 175, 114) 1px solid;    

}
.imgright{
    width: 50%;
    height: 100%;
    float: left;
}
.imgright p{
    display: inline;
    font-size: 15px;
    text-transform: uppercase;}
 
.textcat{
    border: rgb(219, 142, 54) 1px solid;
    border-radius: 5px;
    padding: 5px;
}
.flex-container1 img.imgngang1{  
width: 100%;
height: 100%;
border: rgb(252, 199, 157) 1px solid;
float: left;
transition: all 0.2s ease;
margin: 5px 0px;
}

.flex-container2 {
display: flex;
flex-direction: column;
background-color: DodgerBlue;
}

.flex-container2 > div {
background-color: #f1f1f1;
width: 100px;
margin: 10px;
text-align: center;
line-height: 75px;
font-size: 30px;
}
#imgbanner3{
width: 100%;
margin: auto;
}
#footer{
width: 100%;
height: 450px;
background: rgb(53, 52, 52);
float: left;
}
.footer1{
display: flex;
width: 100%;
height: 200px;
justify-content: space-around;
align-items:center;
background: rgb(218, 216, 216);

}
.footer1 > div{
width: 25%;
height: 60%;
display: flex;
justify-content:space-between;
align-items:center;
border-right:  2px solid rgb(163, 163, 163) ;
margin: 5px 0px;

}
.footer1 > div:last-child{
border-right: none ;
}
.footer1 > div > div {
height: 100%;
padding: 20px;

} 
.footer1 div > div.footer1_sub1{
flex-grow: 1;
line-height: 120px;
color: tomato;
text-align: center;
font-size: 50px;

}
.footer1 div > div.footer1_sub2{
flex-grow:1;
font-size: 13px;
color: rgb(8, 6, 5);
}
.footer1 div > div.footer1_sub2 p{
margin-top:20px ;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer2{
display: flex;
justify-content: space-evenly;
align-items:center;
width: 100%;
height: 250px;

}
.footer2 > div{
width: 25%;
height: 80%;
color: aliceblue;
margin-top:10px ;
}
.footer2_ul li{
font-size: 13px;
margin: 12px;
}
.footer2_sub1{
width: 90%;
height: 50%;
margin: auto;
margin-top:20px ;
font-family: 'Times New Roman', Times, serif;
color: aliceblue;
text-indent:30px
}
.footer2 ul li{
color: rgb(255, 255, 255);
font-size: 14px;
font-family: 'Hind', sans-serif;
}
.footer2_ul{
margin-top: 20px ;
}
.footer2_adr{
margin-top: 20px;
}
.footer2_adr p{
font-size: 14px;
margin: 10px;
margin-left: 10px;
}
.input2{
border: none;
height: 30px;;
margin-top: 10px;
}
form{
width: 100%;
height: 44px;
margin-top: 20px;
}
.submit{
background-size: 31px;
background-repeat: no-repeat;
background-image: url('../image/muiten.jpg');
width: 30px;
height: 30px;
border: none;
line-height: 30px;
}
.thanhtoan{
margin: auto;
width: 80%;
height: 27px;
}
.the_visa{
width: 44px;
height: 27px;
background-image: url(https://cdn.cellphones.com.vn/media/logo/icon-online_26102019.png);
background-repeat: no-repeat;
border-radius: 2px;
display: inline-block;
color: transparent;
}
