@media screen and (min-width: 1024px){

    #nav{
        width: 500px;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }

    #menu {
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
       
    }
   
    #menu li{
        width: 24%;
        height: 50px;
        background-color: darkblue;
        color: #ffffff;
        display: inline-block;
        line-height: 50px;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #button{
            padding: 10px;
            text-decoration: none;
            width: 20px;
            height: 20px;
            background-color: black;
            color: white;
            line-height: 20px;
            text-align: center;
            position: absolute;
            top: 0px;
            right: 0px;
    
    }
}
